<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>City scapes segmentation demo</div>
        <p>
            Select Urban street image to start.. 
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Segment</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>

            <div >
                <img id='result-img' src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="  height="0" alt="" />
                <!--<img  src="../static/mask.png" height="200" alt="" />-->

             </div>
            <div class="result-label">
                Inspired by : https://course.fast.ai/deployment_google_app_engine.html
            </div>
        </div>
    </div>
</div>
</body>
</html>
